@define-color gray-transparent rgba(56, 60, 74, 0.9);
@define-color selected-transparent rgba(21, 146, 131, 0.4);

* {
  font-family: monospace;
  font-size: 20px;
}

window {
  background-color: @gray-transparent;
  border-radius: 25px;
}

#input {
  border: none;
  background-color: transparent;
  color: white;
}

#outer-box {
  padding: 20px;
  background-color: transparent;
  border-radius: 25px;
}

/*#scroll {}*/

#text {
  padding: 10px;
  color: white;
}

#entry {
  padding: 10px;
}

#entry:selected {
  background-color: @selected-transparent;
  border-radius: 8px;
}

/*#text:selected {}*/
