[Desktop Entry]
Exec=/home/omelet/.local/bin/rofi_nmcli || true
Name=/home/omelet/.local/bin/rofi_nmcli
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
