[Desktop Entry]
Exec=/home/omelet/.local/bin/rofi_pass || true
Name=/home/omelet/.local/bin/rofi_pass
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
