[Desktop Entry]
Type=Application
Exec=/opt/discord/Discord --start-minimized --ozone-platform-hint=auto --enable-features=WebRTCPipeWireCapturer --enable-wayland-ime
NoDisplay=false
Name=Discord
Icon=/opt/discord/discord.png
Comment=Text and voice chat for gamers.
X-GNOME-Autostart-enabled=true
